@import "../../../variables";

.Controls {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  justify-content: space-evenly;
  font-size: $text-xlarge-size;
  width: 100vw;
}

.filterText {
  background-color: $color-white;
  box-shadow: 0 5px 5px rgba($color-grey-1, 0.4);
  border-style: none;
  outline: none;
  padding: 2rem;
  width: 90%;
  max-width: 40rem;
  margin: 1rem 0 1rem 2rem;
  border-radius: 5px;
}

.filterRegion {
  background-color: $color-white;
  box-shadow: 0 5px 5px rgba($color-grey-1, 0.4);
  border-style: none;
  outline: none;
  padding: 2rem;
  width: 50%;
  max-width: 30rem;
  margin: 1rem 0 1rem 2rem;
  border-radius: 5px;
}

@media (min-width: 800px) {
  .filterText {
    margin: 1rem 0 1rem 4rem;
  }

  .filterRegion {
    margin: 1rem 4rem 1rem 0;
  }
}

@media (min-width: 800px) {

  .Controls {
    flex-direction: row;
    justify-content: space-between;
  }

  .filterText {
    min-width: 30rem;
  }
}