// Color Palette

$color-danger: #ff6d60;
$color-warning: #008f9f;
$color-success: #a8d3e3;
$color-primary: #bec3cc;
$color-secondary: #505b6a;

$color-white: #fff;
$color-black: #000;
$color-grey-0: #f8f8f8;
$color-grey-1: #f3f3f3;
$color-grey-2: #777;
$color-grey-3: #3e3b3f;

// Font Colors
$text-color-primary: #bec3cc;
$text-color-light: #eee;
$text-color-dark: #000;

// Font Sizes
$text-small-size: 1.2rem;
$text-medium-size: 1.6rem;
$text-large-size: 2.5rem;
$text-xlarge-size: 4rem;