@import "../../variables.scss";

.Dashboard {
  background-color: $color-grey-1;
  min-height: 100vh;
  padding-top: 8rem;
  width: 100vw;
}

.countries {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.spinnerContainer {
  margin-top: 2rem;
}
